/* 公共样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    /* 1、字体名称要注意 icomoon */
    font-family: 'icomoon';
    /* 2、一定要注意路径问题 */
    src: url('../fonts/icomoon.eot?odlblp');
    src: url('../fonts/icomoon.eot?odlblp#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?odlblp') format('truetype'),
        url('../fonts/icomoon.woff?odlblp') format('woff'),
        url('../fonts/icomoon.svg?odlblp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.fr .icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 如果是经常用到的颜色，单独提取，用的时候调用一下该类就可以了 */
.style-red {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 12px 0;
}

/* 顶部快捷导航开始 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}

/* header开始 */
.header {
    position: relative;
    height: 105px;
    background-color: pink;
}
.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
    background-color: green;
}

.logo a {
    display: block;
    overflow: hidden;
    width: 175px;
    height: 56px;
    background: url(../img/newLogo.png) no-repeat;
    text-indent: -9999px;
    /* 或者 */
    /* font-size: 0; */
}
/* header结束 */
